<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1><%= title %></h1>

  <% for (let i = 0; i < messages.length; i++) { %>
    <div class="message__box">
      <h3 class="message__user">User: <%= messages[i].user %></h3>
      <p class="message__text">Message: <%= messages[i].text %></p>
      <p class="message__date">Added: <%= messages[i].added %></p>
    </div>
  <% } %>

  <a href="/new">Add a new message</a>
</body>
</html>