body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.message__box {
  width: 50%;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}

.message__user {
  margin: 5px;
}